<div>
  <h3 class="text-3xl text-center pt-6 mb-3"></h3>
  <mat-divider></mat-divider>
  <div class="flex p-6">
    <div class="w-1/2">
      <h1 class="font-semibold text-xl text-primary">Brands</h1>
      <mat-selection-list [(ngModel)]="selectedBrands" [multiple]="true">
        @for (brand of shopService.brands; track $index) {
          <mat-list-option [value]="brand">{{ brand }}</mat-list-option>
        }
      </mat-selection-list>
    </div>

    <div class="w-1/2">
      <h1 class="font-semibold text-xl text-primary">Types</h1>
      <mat-selection-list [(ngModel)]="selectedTypes" [multiple]="true">
        @for (type of shopService.types; track $index) {
          <mat-list-option [value]="type">{{ type }}</mat-list-option>
        }
      </mat-selection-list>
    </div>
  </div>
  <div class="flex justify-end mx-2 my-2">
    <button mat-flat-button (click)="applyFilters()">Apply Filters</button>
  </div>
</div>
